/*
Be extremely careful what goes here.
It will conflict with email rendering if the selectors are not specific or nested properly
*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.clearfix {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  zoom: 1;
  padding: 0 0 1px 0;
}

.text-right {
  text-align: right;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* webkit CSS here*/
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="search"] {
    line-height: normal !important;
  }
}
