email {
  ng-select {
    min-width: 140px;
    > div {
      border: none;
      > div.single {
        height: 32px;
        > div.clear {
          line-height: 34px;
        }
      }
    }
  }
}
