@import "../../app.component.variables";

.toolbar {
  height: 56px;
  position: relative;
  display: flex;
  box-shadow: inset 0 -1px 0 $border;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  .checkbox {
    float: left;
    display: block;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
  }
}

.data-loading {
  width: 200px;
  margin: 50px auto;
  text-align: center;
}

.conversation-list-rows {
  .star-button-wrapper {
    margin-left: 10px;
  }
  time {
    margin-left: -60px;
  }
  .conversation {
    height: 40px;
    line-height: 40px;
    padding: 0;
    box-shadow: inset 0 -1px 0 $border;

    & > * {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
    }

    .select-conversation-container {
      position: relative;
      float: left;
      padding: 0;
      margin: 0 10px;
      height: auto;
    }

    .expiration {
      position: absolute;
      z-index: 5;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 2rem 2rem 0;
      border-color: transparent $exp transparent transparent;
      color: $white;
      overflow: visible;
      display: none;
      .fa {
        position: absolute;
        right: -2rem;
        top: 0;
        display: block;
        text-align: center;
        line-height: 1.25rem;
        height: 1.25rem;
        width: 1.25rem;
      }
    }
    &.expiring .expiration {
      display: inline-block
    }

    .size,
    time {
      font-size: .9em;
    }
    .size {
      width: 5.5rem;
      text-align: right;
      padding-right: 1rem;
    }
    time {
      float: right;
      text-align: right;
      width: 7rem;
      font-style: normal;
      position: relative;
      top: 1px;
      padding-right: 2rem;

    }

    .fa-star-o {
      color: $gray-light;
      text-decoration: none;
      width: 1rem;
      cursor: pointer;
    }
    .fa-star {
      color: $yellow;
      text-decoration: none;
      width: 1rem;
      cursor: pointer;
    }
    .senders {
      width: 15%;
      cursor: pointer;
      .senders-name::after {content: ', '}
      .senders-name:last-of-type::after {display: none}
    }
    .subject {
      width: calc(85% - 17rem);
      cursor: pointer;
      position: relative;
      &.has-labels {
        h4 {
          max-width: 75%;
        }
      }

      h4 {
        line-height: 40px;
        height: 40px;
        margin: 0;
        font-size: 1em;
        color: #000;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        .fa {
          display: inline-block;
          width: 1rem;
          text-align: center;
        }
      }
      .location {
        width: 1.25rem;
        float: left;
        height: 40px;
        line-height: 40px;
        color: rgba(0,0,0,.35);
      }
      .labels {
        float: right;
        position: absolute;;
        top: 4px;
        right: 0;
        background: $white;
        height: 30px;

        .label {
          height: 18px;
          line-height: 14px;
          margin-left: .25rem;
          background: $white;
          background-color: transparent;
          border-radius: 3px;
          color: $tag-color;
          padding: 0 .4rem;
          font-style: normal;
          white-space: nowrap;
          max-width: 6rem;
          text-overflow: ellipsis;
          overflow: hidden;
          box-sizing: border-box;
          display: inline-block;
          position: relative;
          border: 2px solid currentColor;
          -webkit-transition: max-width .25s ease;
          -moz-transition: max-width .25s ease;
          -ms-transition: max-width .25s ease;
          -o-transition: max-width .25s ease;
          transition: max-width .25s ease;

          &:not(:first-child) {
            max-width: .5rem;
            border-left-width: 0;
            border-radius: 0 3px 3px 0;
            padding-right: 0;
          }
          &:hover {
            max-width: 8rem;
            border-radius: 3px;
            border-left-width: 2px;
            padding: 0 .4rem;
          }

          &.more {
            margin-left: 0;
          }
        }
      }
    }

    .size {
      width: 5.5rem;
      text-align: right;
      padding-right: 1rem;
    }
    time.time {
      float: right;
      text-align: right;
      width: 7rem;
      font-style: normal;
      position: relative;
      top: 1px;
      padding-right: 2rem;
    }
    &.read {
      background: $read;
      .subject {
        h4 {
          font-weight: normal;
          color: $gray;
        }
        .labels {
          background: $read;
          .label {
            background: $read;
          }
        }
      }
    }
  }
}
