<div class="conversation-list-rows">
  <div class="data-loading" *ngIf="!initialized">
    Loading...
  </div>

  <div *ngFor="let email of emails" class="conversation" [class.read]="email.IsNew">
    <span class="star-button-wrapper">
      <a *ngIf="email.IsImportant" class="star-button active fa fa-star" title="Unstar"
         (click)="onToggleImportant(email)"></a>
      <a *ngIf="!email.IsImportant" class="star-button fa fa-star-o" title="Star"
         (click)="onToggleImportant(email)"></a>
    </span>
    <span (click)="onViewEmail(email)" class="senders"> {{ email.Recipient }} </span>
    <div class="subject" [class.has-labels]="email.Tags.length">
      <h4 (click)="onViewEmail(email)" class="ng-binding" title="{{ email.Sender }}">
        {{ email.Subject }}
      </h4>
      <span class="labels" *ngIf="email.Tags">
        <span class="label" *ngFor="let tag of email.Tags; let i = index;" (click)="onFilterTag(tag)">
          {{ tag.Name }}
        </span>
      </span>
    </div>
    <span (click)="onViewEmail(email)"  class="size">{{ email.Size | fileSize:1 }}</span>
    <time (click)="onViewEmail(email)" > {{ email.Received | date }}</time>
  </div>
</div>
