@import "../../app.component.variables";

:host {
  display: block;
  padding: 0 20px;
  width: 190px;
  min-width: 190px;
  box-sizing: border-box;
  float: left;
  height: calc(100% - 60px);
  background: #505061;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

ul.menu {
  padding: 0;
  display: block;
  list-style-type: none;
  font-size: 14px;
  margin: 0 -20px 10px -20px;

  li {
    height: 30px;
    line-height: 30px;
    display: block;

    a {
      &.active {
        background-color: rgba(255,255,255,.06);
        border-color: transparent;
        color: $white;
        font-weight: 700;
      }
      :hover {
        color: $white;
      }
      text-decoration: none;
      height: 28px;
      line-height: 28px;
      display: block;
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      padding: 0 20px;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #e9e9f0;

      i {
        height: 30px;
        line-height: 30px;
        display: block;
        float: left;
        width: 25px;
        text-align: left;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
