<section>
  <ul class="menu">
    <li *ngFor="let tag of tags">
      <a [routerLink]="['/tag', tag.Id]" routerLinkActive="active">
        <span>{{ tag.Name }}</span>
      </a>
    </li>
  </ul>
</section>

