$sidebarWidth: 190px;
$sidebarMobWidth: 220px;
$sidebarRowHeight: 36px;
$headerHeight: 61px;
$toolbarHeight: 63px;
$rowHeight: 36px;
$composerRowHeight: 32px;
$inputHeight: 32px;
$toggleWidth: 8rem;
$short: 700px;
$panel: 400px;
$pm_loading: 50px;
$maxHeight: auto; // was 40rem
$box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33), 0 0 2px rgba(0, 0, 0, 0.33);
$border-radius: 2px;
$border-radius-large: 4px;

// Theme Colors
$primary: #9397cd;
$secondary: #505061;
$secondary-alt: #6e6f80;
$purple-light: #e6e6f2;
$border: #acb0bf;
$light: #f4f4f4;
$orange: #e7d360;
$white: #fff;
$gray: #555;
$gray-medium: #8c8c8c;
$gray-light: #ccc;
$dark: #4d4c5d;
$blue: #93b9cc;
$light-blue: #5fdefb;
$green: #a6cc93;
$light-green: #d3f422;
$red: #cc9393;
$yellow: #dfdf19;
$read: #e6eaf0;
$alt: #6a6f7c;
$alt-light: lighten($alt, 5%);
$exp: #ec6446;
$text: #222;
$pgp: #090;
$active: #828895;
$tags: #d4d7dc;
$tour: #34cc69;
$btn: #666;
$star-active-color: #d4d430;
$star-color: #777;
$tag-color: #49a597;

// Desktop
$desktop: 1200px;

// MOBILE
$tablet-landscape: 1030px;
$tablet-portrait: 800px;

// Mobile
$mobile-landscape: 640px;
$mobile-portrait: 560px;
