@import "../../app.component.variables";

.conversation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
  min-height: 0;
}

.data-loading {
  width: 200px;
  margin: 50px auto;
  text-align: center;
}

.toolbar {
  height: 56px;
  position: relative;
  display: flex;
  box-shadow: inset 0 -1px 0 $border;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  .buttons {
    display: -webkit-inline-flex;
    display: inline-flex;
    border: 1px solid #acb0bf;
    border-radius: 2px;
    text-align: center;
    margin: 0 10px 0 0;
    position: relative;
    height: 34px;
    line-height: 32px;

    > a:not(:first-of-type) {
      border-left: 1px solid #acb0bf;
    }

    a {
      text-decoration: none;
      color: $btn;
      display: block;
      float: left;
      cursor: pointer;
      transition: all .3s ease-out;
      vertical-align: middle;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
      min-width: 30px;
      padding: 0 10px;

      &.active {
        background-color: $btn;
        color: $white;
        box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.2);
      }

      &:hover {
        background-color: #f2f2f2;
        transition: none;
        color: #222;
      }
    }
  }
}

.conversation-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 1;
  /*
    Allow scroll inside Flex box
    1. An item in a flexbox will not shrink below its intrinsic size.
    2. A flexbox is also a flex item in a parent flexbox,
    and will not shrink because it has an implicit min-height:auto.
    That's why we set it to zero.
    */
  -webkit-flex: 1;

  .star-button {
    text-decoration: none;
    color: $star-color;

    &.active {
      color: $star-active-color;
    }
  }

  header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    min-height: -moz-min-content;
    min-height: -webkit-min-content;
    min-height: min-content;
    border-bottom: 1px solid $border;
    padding: 0 10px;

    h1 {
      position: relative;
      font-size: 24px;
      font-weight: 400;
      color: #333;
      line-height: 35px;
      margin: 0;
      letter-spacing: .04rem;
      display: inline-block;
      word-wrap: break-word;
      padding: 14px 30px 14px 0;
      min-height: 35px;
    }

    .star-button-wrapper {
      cursor: pointer;
      position: absolute;
      right: -10px;
      top: 14px;
      border: none;
      margin-right: 0;
      box-shadow: none;
    }
  }

  .thread {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-flex: 1;
    flex: 1;
  }

  article {
    border: 1px solid $border;
    border-radius: 2px;
    margin: 10px;
    box-sizing: border-box;
    clear: both;

    &.open {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .summary {
      height: 40px;
      line-height: 40px;
      background: $read;
      border-radius: 2px;
      padding: 0 10px;
      text-align: right;
      font-size: .9em;
      position: relative;

      .meta-data {
        position: absolute;
        left: 10px;
        top: 0;
        height: 100%;
        width: 80%;
        overflow: hidden;

        .meta {
          float: left;
          white-space: nowrap;
        }
      }

      .labels {
        display: inline-block;
        margin-left: .85rem;
        position: relative;
        top: 4px;

        .label {
          height: 18px;
          line-height: 14px;
          margin-left: .25rem;
          background: $white;
          background-color: transparent;
          border-radius: 3px;
          color: $tag-color;
          padding: 0 .4rem;
          font-style: normal;
          white-space: nowrap;
          max-width: 6rem;
          text-overflow: ellipsis;
          overflow: hidden;
          box-sizing: border-box;
          display: inline-block;
          position: relative;
          border: 2px solid currentColor;
          -webkit-transition: max-width .25s ease;
          -moz-transition: max-width .25s ease;
          -ms-transition: max-width .25s ease;
          -o-transition: max-width .25s ease;
          transition: max-width .25s ease;

          &:not(:first-child) {
            max-width: .5rem;
            border-left-width: 0;
            border-radius: 0 3px 3px 0;
            padding-right: 0;
          }
          &:hover {
            max-width: 8rem;
            border-radius: 3px;
            border-left-width: 2px;
            padding: 0 .4rem;
          }

          &.more {
            margin-left: 0;
          }
        }
      }

      .time {
        position: relative;
        padding-left: 1rem;
        display: inline-block;
      }

      .status {
        display: inline-block;
        margin-left: .85rem;
        position: relative;
        z-index: 2;
        background: $read;
      }
    }

    .details {
      background: $read;
      padding: 0 10px 10px;
      clear: both;
      position: relative;
      line-height: 20px;
      font-size: .9em;
    }

    .frame {
      padding: 15px 30px;
      border-top: 1px solid $border;
      overflow: auto;
      zoom: 1;

      .message {
        position: relative;
        word-wrap: break-word;
        will-change: transform;
        animation: nodeInserted;
        animation-duration: 0.001s;
      }
    }
  }
}

.element-view {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
  min-height: 0;
}

