<nav class="toolbar">
  <span class="buttons">
    <a (click)="onBack()" title="Back to list">
      <i class="fa fa-long-arrow-left"></i>
    </a>
  </span>

  <span class="buttons" *ngIf="email?.IsEnableToHandling">
    <a (click)="onChangeStatus(EmailStatus.HANDLING)" title="Handling">
      <i class="fa fa-sign-in"></i>
    </a>
  </span>
  <span class="buttons" *ngIf="email?.IsHandling">
    <a (click)="onChangeStatus(EmailStatus.WAIT_FOR_INFORMATION)"
       [class.active]="email.Status == EmailStatus.WAIT_FOR_INFORMATION"
       title="Wait for information">
      <i class="fa fa-hourglass-start"></i>
    </a>
    <a (click)="onChangeStatus(EmailStatus.WAIT_FOR_APPROVAL)"
       [class.active]="email.Status == EmailStatus.WAIT_FOR_APPROVAL"
       title="Wait for approval">
      <i class="fa fa-hourglass-end"></i>
    </a>
  </span>
  <span class="buttons" *ngIf="email && !email?.IsHandled && emailUsersAssign.length">
      <ng-select #usersAssign [options]="emailUsersAssign"
                 (selected)="onAssignUser($event)"
                 placeholder="Assign to user">
      </ng-select>
      <a *ngIf="emailUserAssignId" (click)="onDeselectUser(); usersAssign.clear()" title="Deselect">
        <i class="fa fa-times"></i>
      </a>
      <a *ngIf="emailUserAssignId" (click)="onApplyUser()" title="Assign">
        <i class="fa fa-check"></i>
      </a>
   </span>

  <span class="buttons" *ngIf="email?.IsHandling">
    <a (click)="onChangeStatus(EmailStatus.HANDLED)" title="Handled">
      <i class="fa fa-check-circle"></i>
    </a>
  </span>
</nav>

<div class="data-loading" *ngIf="!email">
  Loading...
</div>

<div *ngIf="email" class="conversation-view">
  <div class="element-view">
    <header>
      <h1>
        <span>{{ email.Subject }}</span>
        <span class="star-button-wrapper">
          <a *ngIf="email.IsImportant" class="star-button active fa fa-star" title="Unstar"
             (click)="onToggleImportant()"></a>
          <a *ngIf="!email.IsImportant" class="star-button fa fa-star-o" title="Star" (click)="onToggleImportant()"></a>
        </span>
      </h1>
    </header>
    <div class="thread">
      <article class="open">
        <div class="summary">
          <div class="meta-data">
            <div class="meta">
              <span class="contact">
                <span class="from">From:</span> <em>{{ email.Sender }}</em>
                </span>
            </div>
          </div>
          <div class="labels" *ngIf="email.Tags">
            <span class="label" *ngFor="let tag of email.Tags; let i = index;" [routerLink]="['/tag', tag.Id]">
              {{ tag.Name }}
            </span>
          </div>
          <div class="time">
            <time class="time-machine">{{ email.Received | date }}</time>
          </div>
          <div class="status">
            <a *ngIf="email.IsImportant" class="star-button active fa fa-star" title="Unstar"
               (click)="onToggleImportant()"></a>
            <a *ngIf="!email.IsImportant" class="star-button fa fa-star-o" title="Star" (click)="onToggleImportant()"></a>
          </div>
        </div>
        <div class="details">
          <div class="recipients-summary">
            <span>To:</span> <em>{{ email.Recipient }}</em>
          </div>
        </div>
        <div class="frame">
          <div class="data-loading" *ngIf="!initialized">
            Loading...
          </div>
          <div class="message" [innerHtml]="htmlBody"></div>
        </div>
      </article>
    </div>
  </div>
</div>
