html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.loading-app-cover {
  position: absolute;
  background-color: rgba(85, 85, 85, 0.5);
  width: 100%;
  height: 100%;
  content: "";
}

.loading-app {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  text-align: center;
  margin-left: -100px;
  margin-top: -50px;
}

.main-loader {
  background: url('img/main-loader.gif');
  width: 64px;
  height: 64px;
  margin: auto;
}
