<header>
  <a routerLink="/" class="logo">
    Email client
  </a>

  <ul class="navigation">
    <li>
      <a class="tour-settings">
        <span>
          <i class="fa fa-cogs"></i>
        </span>
        <strong>Settings</strong>
      </a>
    </li>
  </ul>
</header>
