header {
  height: 60px;
  line-height: 61px;
  background: #6a6f7c;
  font-size: 12px;
  position: relative;
  z-index: 100;

  a.logo {
    float: left;
    width: 190px;
    text-align: center;
    background-color: #505061;
    overflow: hidden;
    display: block;
    height: 60px;
    color: #fff;
    font-size: 26px;
    text-decoration: none;
  }

  ul.navigation {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      float: left;
      position: relative;
      height: 60px;

      a {
        display: block;
        float: left;
        color: #e0e3ec;
        padding: 12px 1rem 8px;
        width: 115px;
        box-sizing: border-box;
        text-decoration: none;
        box-shadow: none;
        height: 60px;

        span {
          display: block;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }

        strong {
          display: block;
          height: 20px;
          line-height: 20px;
          font-weight: normal;
          text-transform: uppercase;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
