<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <link rel="stylesheet" href="assets/preload.css">
  <!--[if lte IE 10]>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.ru" defer></script>
  <![endif]-->
</head>

<body>

 <app>
   <div class="loading-app-cover"></div>
   <div class="loading-app">
     <div class="main-loader"></div>
   </div>
 </app>

 <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
   <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
